!-- Resolution Adjustment --!
Xft.dpi: 192
Xft.antialias: true
Xft.rgba: rgb

!-- URXVT Settings --!
URxvt.scrollBar: false

*.foreground:   #b9cac8
*.background:   #0f1111
*.cursorColor:  #b9cac8
*.color0:       #64d122
*.color1:       #bb8537
*.color2:       #64d122
*.color3:       #474e4d
*.color4:       #626b6a
*.color5:       #838f8d
*.color6:       #a9b8b6
*.color7:       #d4e6e4
*.color8:       #64d122
*.color9:      #8e5abc
*.color10:      #5dbdb4
*.color11:      #f29bab
*.color12:       #5a9cd0
*.color13:      #9ac5f1
*.color14:      #f2859b
*.color15:      #9ac2ea

!-- Font --!
URxvt.font: xft:Anonymous Pro:size=10

